/*
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Nova Mono', monospace;
 */

body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    position: relative;
}

body {}

.progress-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999999;
    background: rgba(255, 255, 255, 0.4);
}
.progress-loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(0,0,0, 0.1);
}
.progress-loader-spinner i {
    position: relative;
    font-size: 80px;
    left: -40px;
    top: -40px;
}

a {
    color: #BD7435;
    cursor: pointer;
}

.emphasize {
    color: #BD7435;
}

a:hover {
    text-decoration: underline;
    color: #BD7435;
}

h1 {
    font-size: 275%;
    color: #428bca;
    margin-top: 60px;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}

p {
    max-width: 45em;
    font-family: 'Lora', serif;
}


.text-center {
    text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

ol li, ul li {
    margin-bottom: 3px;
    max-width: 45em;
}

header {
    margin-bottom: 30px;
}

blockquote {
    font-family: 'Bree Serif', serif;
    max-width: 45em;
}

blockquote em {
    display: inline-block;
    padding-left: 15px;
    font-size: 85%;
    opacity: 0.70;
}

section {
    margin-bottom: 30px;
}

.section-title {
    color: #2a6496;
}
.section-content {

    padding-left: 26px;
    opacity: 0.85;
}

.section-content h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #193c5a;
}


.view-title {
    margin-top: 30px;
    margin-bottom: 45px;
}


/*============ THIN COLUMNS ============*/

.row.row-thin-columns {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-thin-columns .col-xs-1 {
    padding-left: 5px;
    padding-right: 5px;
}



/*============ MARGIN HELPERS ============*/

.margin-top-xs {
    margin-top: 5px;
}
.margin-top-sm {
    margin-top: 15px;
}
.margin-top-md {
    margin-top: 30px;
}
.margin-top-lg {
    margin-top: 45px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}
.margin-bottom-sm {
    margin-bottom: 15px;
}
.margin-bottom-md {
    margin-bottom: 30px;
}
.margin-bottom-lg {
    margin-bottom: 45px;
}


/*============ BUTTONS ============*/

button.btn-full-width {
    width: 100%;
}


/*============ MODALS =============*/

.modal-footer.modal-footer-custom {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}


/*============ ANIMATIONS ============*/

.anim-el-slide-right {
  -webkit-transition-property: all;
  -webkit-transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
  -webkit-transform: translate(0%, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.anim-el-slide-right.ng-enter {
  -webkit-transform: translate(30%, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.anim-el-slide-right.ng-enter.ng-enter-active {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0%, 0px);
}
.anim-el-slide-right.ng-leave {
  -webkit-transform: translate(0%, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.anim-el-slide-right.ng-leave-active {
  -webkit-transform: translate(30%, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}

.anim-el-slide-left {
  -webkit-transition-property: all;
  -webkit-transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
  -webkit-transform: translate(0%, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.anim-el-slide-left.ng-enter {
  -webkit-transform: translate(-40%, 0px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.anim-el-slide-left.ng-enter.ng-enter-active {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0%, 0px);
}
.anim-el-slide-left.ng-leave {
  -webkit-transition-duration: 0ms;
  display: none;
}
.anim-el-slide-left.ng-leave-active {
  -webkit-transition-duration: 0ms;
  display: none;
}

.anim-fade-in {
  position: relative;
  display: block;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.595, 0.61, 0, 1);
  opacity: 1;
}
.anim-fade-in.ng-enter {
  opacity: 0;
}
.anim-fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.anim-fade-in.ng-leave {
  -webkit-transition-duration: 0ms;
  display: none;
  position: absolute;
  opacity: 0;
}
.anim-fade-in.ng-leave-active {
  -webkit-transition-duration: 0ms;
  display: none;
  position: absolute;
  opacity: 0;
}

/*============ BUTTONS ============*/

.btn-full-width {
    width: 100%;
}


/*============ FORMS ============*/

.form-section {
    margin-bottom: 15px;
}
.form-section label {
    font-size: 125%;
}

.empty-stuff {
    border: 3px dashed #ddd;
    text-align: center;
    color: #888;
    padding: 15px;
}

.control-box {
    margin-top: 15px;
    margin-bottom: 30px;
}



/*============ THE IMAGE ============*/

.image-column img {
    max-width: 100%;
    height: 250px;
}

.image-preview {
    width: 75px;
    height: 75px;
}

.image-wrapper {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.image-wrapper-small {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    min-height: 140px;
}

.image-wrapper-small .image-title {
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
}



/*============ NUMBER AREA ============*/

.mp-number {
    font-size: 48px;
    font-family: 'Nova Mono', monospace;
}

.mp-number-digit {
    margin-left: 5px;
    margin-right: 5px;
}